*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* TODO --------------------COMMON PROPERTIES */
.flex{
    display:flex;
}

h1,h4{
    color: white;
}

p{
    color:#65676c;
}

/* TODO--------------------------------------------- */

/* ********************!SECTION ASIDE ************/
.aside{
    width: 200px;
    background-color: red;
  /*   height: 85vh; */
}

/* *******************!SECTION MAIN CONTENT */
.main-content{
    width: calc(100vw - 200px);
  /*   height: 85vh; */
}

/* BANNER : BUTTON DESTRA */
.top-banner{
    height: 10vh;
    background-color: aqua;
}

/* MENU LINK CENTER  */
.list-menu{
    /* height solo per vederla */
   /*  height: 7vh; */
    background-color: rgb(20, 25, 34);
}

/* ? ------CARDS-------- */

.playlists-rows{
    overflow-y: scroll;
    height: 80vh;
    background-color:rgb(20, 25, 34);
    padding: 30px;
}

.title-playlists{
    padding: 10px;
}

/* flex */
.container-cards{
    padding: 10px;
    gap: 5px 10px;
}
/* cards flex-items */
.card{
    width: 200px;
    flex-shrink: 0;
} 

.card img{
    object-fit: contain;
    width: 100%;
}

.img-circle{
    border-radius: 50%;
}


/* ******************!BOTTOM NAV BAR */
.bottom-bar{
    width: 100vw;
    height: 10vh;
    background-color: grey;
}


@media screen and (min-width:992px) and (max-width:1199px) {

    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
    
}

@media  screen and (min-width:768px) and (max-width:991px) {
    
    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
}

@media  screen and (min-width:577px) and (max-width:767px) {
    

    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
}

@media screen and (max-width:576px) {
    .aside{
        width: 8vw;
        background-color: red;
        height: 90vh;
    }

    .main-content{
        background-color: blue;
        width: 92vw;
        height: 90vh;
    }

    .bottom-bar{
        width: 100vw;
        height: 10vh;
        background-color: grey;
    }

    /* flex */
    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
    
}


