*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* TODO --------------------COMMON PROPERTIES */
.flex{
    display:flex;
}

h1,h4{
    color: white;
}

p{
    color:#65676c;
}

.fas{
    font-size: 1.5rem;
}

.fa-plus-square{
    font-size: 2.5rem;
    vertical-align: middle;
}

.fa-arrow-alt-circle-down{
    font-size: 0.8rem;
    margin-bottom: .5rem;
}

.border-bottom{
    border-bottom:1px solid #65676c;
}

/* TODO--------------------------------------------- */

/* ********************!SECTION ASIDE ************/
.aside{
    background-color: #080b12;
    width: 200px;
    color:#a9a9a9;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
}


.aside a {
    text-decoration: none;
    text-transform: uppercase;
    color:#a9a9a9;
    margin-left: .5rem;
    font-size: .8rem;
}

.aside ul{
    list-style: none;
}

.aside ul li{
    width: 100%;
}

.home ul li, .playlist ul li{
    padding: .5rem 0;
}

/* *******************!SECTION MAIN CONTENT */
.main-content{
    width: calc(100vw - 200px);
  /*   height: 85vh; */
}

/* BANNER : BUTTON DESTRA  flex or clearfix?*/
.top-banner{
    height: 10vh;
    background-color: #080b12;
    justify-content:end;
    align-items: center;
    padding-right: 2rem;
}

.top-banner button> a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
}

.top-banner > button{
    padding: 1rem 2rem;
    background-color: #080b12;
    border-color: white;
}

/* MENU LINK CENTER  flex*/
.list-menu{
    background-color: rgb(20, 25, 34);
    justify-content: center;
    padding: 1.5rem;
}

.list-menu > ul > li{
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
}

.list-menu  li > a{
    text-decoration: none;
    text-transform: uppercase;
    color: #6e7176;
}

/* ? ------CARDS-------- */

.playlists-rows{
    overflow-y: scroll;
    height: 80vh;
    background-color:rgb(20, 25, 34);
    padding: 30px;
}

.title-playlists{
    padding: 10px;
}

/* flex */
.container-cards{
    padding: 10px;
    gap: 5px 10px;
}
/* cards flex-items */
.card{
    width: 200px;
    flex-shrink: 0;
} 

.card img{
    object-fit: contain;
    width: 100%;
}

.img-circle{
    border-radius: 50%;
}


/* ******************!BOTTOM NAV BAR */
.bottom-bar{
    width: 100vw;
    height: 10vh;
    background-color: grey;
}

/* ! _____________LARGE___________ */
@media screen and (min-width:992px) and (max-width:1199px) {

    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
    
}

/* !_____________________Medium___________ */
@media  screen and (min-width:768px) and (max-width:991px) {
    

    /* MENU LINK CENTER  flex*/
    .list-menu{
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-menu > ul > li{
        margin-bottom: 1rem;
    }


    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
}

/* !_____________Small_______ */
@media  screen and (min-width:577px) and (max-width:767px) {
    
    /* MENU LINK CENTER  flex*/
    .list-menu{
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-menu > ul > li{
        margin-bottom: 1rem;
    }
    
    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
}

/* !________________________EXTRA SMALL_________ */
@media screen and (max-width:576px) {

    .aside{
        width: 8vw;
        height: 90vh;
        align-items: center;
        text-align: center;
    }

    .aside a,.playlist{
        display: none;
    }

    
    .border-bottom{
        border-bottom:none;
    }

    /* MENU LINK CENTER  flex*/
    .list-menu{
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-menu > ul > li{
        margin-bottom: 1rem;
    }
    

    .main-content{
        background-color: blue;
        width: 92vw;
        height: 90vh;
    }

    .bottom-bar{
        width: 100vw;
        height: 10vh;
        background-color: grey;
    }

    /* flex */
    .container-cards{
        padding: 10px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }
    /* cards flex-items */
    .card{
        width: 200px;
        flex-shrink: 0;
    } 
    
}


